<strong>
    Olá, {{ provider }}
    <p>Houve um cancelamento de horário</p>
    <p>
        <strong> Cliente: </strong>{{ user }} <br/> 
        <strong> Data/Hora: </strong>{{ date }} <br/> 
        <br/>
        <small>O horário está novamente disponível  </small>
    </p> 
</strong>